.App {
  font-family: Inter, sans-serif;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  transition: all 0.3s ease-in-out;

  --max-width: 1215px;

  /* Navbar */
  --navbar-height: 80px;

  &.light {
    --color-primary: #1a1a1a;
    --color-secondary: #ffffff;
    --red-300: #ff9898;
    --red-800: #ff0000;
    --gray-300: #a7a7a7;
    --gray-600: #6c6d70;
    --gray-900: #171a1c;

    /* Tabulator */
    --tabulator-background: #1a1a1a;
    --tabulator-color: #ffffff;
    --tabulator-header-background: #1b1f20;
    --tabulator-header-color: #ffffff;
    --tabulator-row-hover-background: #1b1f20;
    --tabulator-row-hover-color: #ffffff;
    --tabulator-odd-row-background: #1a1a1a;
    --tabulator-odd-row-color: #ffffff;
    --tabulator-even-row-background: #1a1a1a;
    --tabulator-even-row-color: #ffffff;
    --tabulator-footer-background: #171a1c;
    --tabulator-footer-color: #ffffff;
    --tabulator-footer-active-background: #171a1c;
    --tabulator-footer-active-color: #ffffff;

    /* Mat */
    --card-background: #1a1a1a;
    --card-color: #ffffff;
    --card-item-background-hover: #1b1f20;
    --card-item-active-background: #1b1f20;
    --card-divider-color: #1b1f20;
  }

  &.dark {
    --color-primary: #ffffff;
    --color-secondary: #1a1a1a;
    --red-300: #ff9898;
    --red-800: #ff0000;
    --gray-300: #a7a7a7;
    --gray-600: #6c6d70;
    --gray-900: #171a1c;

    /* Tabulator */
    --tabulator-background: #1a1a1a;
    --tabulator-color: #ffffff;
    --tabulator-header-background: #1b1f20;
    --tabulator-header-color: #ffffff;
    --tabulator-row-hover-background: #1b1f20;
    --tabulator-row-hover-color: #ffffff;
    --tabulator-odd-row-background: #1a1a1a;
    --tabulator-odd-row-color: #ffffff;
    --tabulator-even-row-background: #1a1a1a;
    --tabulator-even-row-color: #ffffff;
    --tabulator-footer-background: #171a1c;
    --tabulator-footer-color: #ffffff;
    --tabulator-footer-active-background: #171a1c;
    --tabulator-footer-active-color: #ffffff;

    /* Mat */
    --card-background: #ffffff;
    --card-color: #1a1a1a;
    --card-item-background-hover: #f5f5f5;
    --card-item-active-background: #e5e5e5;
    --card-divider-color: #e5e5e5;
    --default-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  @media screen and (min-width: 768px) {
    --navbar-height: 100px;
  }
}
