.ConfirmPopup {
  .confirm-popup-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .popup-message {
      color: var(--color-primary);
    }

    .popup-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
      width: 100%;
    }
  }
}
