// Rockwell Regular
@font-face {
  font-family: 'Rockwell';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Rockwell/Rockwell-Regular.ttf') format('truetype');
}

// Rockwell Bold
@font-face {
  font-family: 'Rockwell';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Rockwell/Rockwell-Bold.ttf') format('truetype');
}

// Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
