.PageSubtitle {
  font-family: Rockwell, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-primary);
  transition: all 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}
